.chat-interface {
    padding: 100px 100px 100px 100px;
}

.chatbox {
    border: 2px solid black;
}

.messages {
    padding: 32px 32px 56px 32px;
}

.messages-left {
    float: left;

}

.messages-right {
    float: right;
}

.timestamp {
    padding: 10px;
    font-size: 8px;
}

.chat-input-container {
    padding: 8px 16px 16px 16px;
}

.chat-input {
    width: 90%;
    padding: 10px;
}

.submit-button {
    float: right;
    padding: 10px;
}