.row {
    display: flex;
    justify-content: center;

}

.card {
    width: 150px;
    height: 300px;
    /* display: flex;
    justify-content: center; */
    margin: 30px;
    padding: 10px;
    border: 2px solid black;
}

.buddies-username {
    text-align: center
}

.buddies-gender {
    text-align: center
}

.avatar {
    border-radius: 180px;
}

.buddies-interests-lists {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

}